<h3>About</h3>

<p>Every year, families in Ventura Country grow more produce at home than what they can consume.  Through produswap.org families can swap surplus produce with other families.  This saves time, money, and prevents great produce from being wasted.  </p>

<p>We hope you find produswap.org to be a useful tool for your familiy and community.  Please email us with great swap stories at produswap@gmail.com!</p>

<p>produswap.org Team</p>

<p>produswap.org currently only serves Ventura County, CA.</p>
