/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
  text-align: center;
  background-color: white;
  background-image: image-url("produce.png");
  background-size: cover;
  background-repeat: no-repeat;
 }

 div {
   height: auto;
   width: auto;
   border: 2px solid black;
 }

 #aboutTitle {
   background-color: none;
   color: rgba(255, 255, 255, 0.9);
   /*color: black;*/
   font-size: 100px;
   font-family: arial black;
   margin-top: 120px;
   border: none;
 }


 .navbar {
   height: 50px;
   width: 100px;
   display: inline-block;
   font-size: 25px;
   border: none;
 }

 #nav {
  display: inline-block;
  background: radial-gradient(circle, rgba(255,255,255,.8) 70%, rgba(255,255,255,.5), rgba(255,255,255,0));
  width: 1000px;
  padding: 5px;
 }

 #welcome {
   width: 200px;
 }

 #logout {
   width: 150px;
 }

 #myProfile {
   width: 150px;
 }


 #loginSignUpLanding {
  display: inline-block;
  border: none;
  width: 800px;
  height: 75px;
  background: radial-gradient(circle, rgba(255,255,255,.8), rgba(255,255,255,.5), rgba(255,255,255,0));
  margin-top: 100px;
}

#loginLanding {
  display: inline-block;
  font-size: 40px;
  color: blue;
  border: none;
  margin-right: 30px;
  width: 200px;
  height: auto;
}

#signUpLanding {
  display: inline-block;
  font-size: 40px;
  color: blue;
  border: none;
  margin-left: 30px;
  width: 200px;
  height: auto;
}


#loginNav {
  display: inline-block;
  border: none;
  width: 800px;
  height: 75px;
  background: radial-gradient(circle, rgba(255,255,255,.8), rgba(255,255,255,.5), rgba(255,255,255,0));
  margin-top: 50px;
}

#SignUpLogInPage {
  display: inline-block;
  font-size: 40px;
  color: blue;
  border: none;
  margin-left: 30px;
  width: 200px;
  height: auto;
}

#back {
  display: inline-block;
  font-size: 40px;
  color: blue;
  border: none;
  margin-left: 30px;
  width: 200px;
  height: auto;
}

#loginLogin {
  font-size: 60px;
  color: blue;
  border: none;
  width: 300px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  color: rgba(255, 255, 255, 0.9);
}

.loginPage {
  font-size: 30px;
  border: none;
}

#signUpNew {
  font-size: 60px;
  color: blue;
  border: none;
  width: 300px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  color: rgba(255, 255, 255, 0.9);
}

.signUpPage {
  font-size: 30px;
  border: none;
}

#loginBackNew {
  display: inline-block;
  border: none;
  width: 800px;
  height: 75px;
  background: radial-gradient(circle, rgba(255,255,255,.8), rgba(255,255,255,.5), rgba(255,255,255,0));
  margin-top: 5px;
}

#loginNew {
  display: inline-block;
  font-size: 40px;
  color: blue;
  border: none;
  margin-right: 30px;
  width: 200px;
  height: auto;
}

#backNew {
  display: inline-block;
  font-size: 40px;
  color: blue;
  border: none;
  margin-right: 30px;
  width: 200px;
  height: auto;
}

#rules {
  height: auto;
  width: 800px;
  font-size: 20px;
  background-color: rgba(255,255,255,.5);
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  margin-top: 10px;
  border: none;
}

#swapsNear {
  background-color: none;
  color: rgba(255, 255, 255, 0.9);
  font-size: 50px;
  font-family: arial black;
  margin-top: 15px;
  height: auto;
  width: auto;
  border: none;
}

#newSwap {
  border: none;
  width: 800px;
  height: 75px;
  background: radial-gradient(circle, rgba(255,255,255,.8), rgba(255,255,255,.5), rgba(255,255,255,0));
  margin-top: 50px;
  font-size: 40px;
  color: blue;
  margin-right: auto;
  margin-left: auto;
}

.swapSum {
  height: auto;
  width: 800px;
  font-size: 30px;
  background-color: rgba(255,255,255,.9);
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 10px;
  color: black;
  padding: 10px;
  border: none;
}
